.login-form {
  background: #3A3B3D;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
}

.login-form .btn-block {
  margin-top: 20px;
  width: 100%;
}

.custom-background {
  background-color: #242527;
}

.custom-placeholder::placeholder {
  color: #cdcdcd;
}
